
@{
    ViewBag.Title = "Admin";
}

<h2>@ViewBag.Title</h2>
<hr />

<h4>@Html.ActionLink("Models", "Models", "Admin")</h4>
<br />
<h4>@Html.ActionLink("Makes", "Makes", "Admin")</h4>
<br />
<h4>@Html.ActionLink("Add User", "AddUser", "Admin")</h4>
<br />
<h4>@Html.ActionLink("Add Vehicle", "AddVehicle", "Admin")</h4>
<br />
<h4>@Html.ActionLink("Users", "Users", "Admin")</h4>
<br />
<h4>@Html.ActionLink("Vehicles", "Vehicles", "Admin")</h4>
<br />
<h4>@Html.ActionLink("Specials", "Specials", "Admin")</h4>
<br />
<h4>@Html.ActionLink("Reports", "Index", "Reports")</h4>


