@model List<CarDealership.Models.Queries.UserQuery>


<h2>Users</h2>

@Html.ActionLink("Add a new User", "AddUser", "Admin", new { area = "" })

<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Last Name </th>
        <th>First Name </th>
        <th>Email</th>
        <th>Role</th>
        <th></th>

    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.LastName</td>
            <td>@user.FirstName</td>
            <td>@user.Email</td>
            <td>@user.Role</td>
            <td>@Html.ActionLink("edit", "EditUser", "Admin", new {area = "", userId = @user.UserId }, null)</td>  
        </tr>

    }
</table>